body{

  background: url("https://wallpapercave.com/wp/wp2729921.gif")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;

}
.heading-large{
  font-family: 'Oswald', sans-serif;
  margin: auto;
  padding: 10px;
  color: white;
  background-color: #424242;
}
.paragraph-larger{
  font-family: 'IBM Plex Sans', sans-serif;
  margin: auto;
  padding: 10px;
  font-size:24px;
  color: #f7f7f7;
}
.para-medium{
  font-family: 'IBM Plex Sans', sans-serif;
  margin: auto;
  padding: 10px;
  font-size:20px;
  color: #f7f7f7;
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-left: 10px ridge #00E4E8;
}
